@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Optimist-xl";
    src: url('/Fonts/Optimist_W_XLt.woff');
}

@font-face {
    font-family: "Optimist-l";
    src: url('/Fonts/Optimist_W_Lt.woff');
}

@font-face {
    font-family: "Optimist-r";
    src: url('/Fonts/Optimist_W_Rg.woff');
}

@font-face {
    font-family: "Optimist-sb";
    src: url('/Fonts/Optimist_W_SBd.woff');
}

@font-face {
    font-family: "Optimist-b";
    src: url('/Fonts/Optimist_W_Bd.woff');
}

@font-face {
    font-family: "Optimist-xli";
    src: url('/Fonts/Optimist_W_XLtIt.woff');
}

@font-face {
    font-family: "Optimist-li";
    src: url('/Fonts/Optimist_W_LtIt.woff');
}

@font-face {
    font-family: "Optimist-ri";
    src: url('/Fonts/Optimist_W_It.woff');
}

@font-face {
    font-family: "Optimist-sbi";
    src: url('/Fonts/Optimist_W_SBdIt.woff');
}

@font-face {
    font-family: "Optimist-bi";
    src: url('/Fonts/Optimist_W_BdIt.woff');
}

body {
    @apply bg-[#F4F4F4];
    @apply text-black;
}

.search:focus{
    outline: none;
}